%script{ :src => "/javascripts/password_strength_plugin.js", :type => "text/javascript"}
:javascript
  $(document).ready(function() {
    $(".password").passStrength({
      userid: "#login"
    });

    $("#password_confirmation").live('keyup', function() {
      if ($(this).val() == $("#password").val()) {
        $("#password_confirmation").next().remove();
        $("#password_confirmation").after("<span class=\"testresult strongPass\"><span>Ok</span></span>");
      } else {
        $("#password_confirmation").next().remove();
      }
    });
  })

.page-header
  %h1= t('change_password.title')

- if current_user.errors.size > 0
  .clearfix.alert.alert-error
    %h2="This record can not be saved because it has #{current_user.errors.size} error(s):"
    %ul
    - current_user.errors.full_messages.each do |message|
      %li= message

.login
  %form{ :action => "/change_password", :method => "POST", 'accept-charset' => 'utf-8' }
    .clearfix
      %b{ :name => 'login'}= t('change_password.form.login')
      .input#login
        = current_user.login
    .clearfix
      %b{ :name => 'current_password'}= t('change_password.form.current_password')
      .input
        %input{ :type => "password", :name => "current_password", :value => '', :class => "input-medium" }
    .clearfix
      %b{ :name => 'password'}= t('change_password.form.password')
      .alert.alert-info
        %button{:class => 'close', 'data-dismiss' => 'alert'}='x'
        %p= t('change_password.form.password_hint')
        %b= t('change_password.form.password_example_label') + ':'
        = t('change_password.form.password_example')
      .input
        %input{ :type => "password", :name => "password", :class => "input-medium password", :id => "password" }
    .clearfix
      %b{ :name => 'password_confirmation' }= t('change_password.form.password_confirmation')
      .input
        %input{ :type => "password", :name => "password_confirmation", :class => "input-medium", :id => "password_confirmation" }
    .clearfix
      = csrf_tag
      = authenticity_token
      = utf_tag
    .actions
      %input{ :type => "submit", :value => t('actions.change_password'), :class => "btn btn-success" }
      &nbsp;
      %a{ :href => "/dashboard", :class => 'btn' }= t('actions.cancel')
