%script{ :src => "/javascripts/jquery-countdown.js", :type => "text/javascript" }
:javascript
  $(document).ready(function () {
    $("#counter").countdown({until: new Date(2013, 12-1, 25) });
  })
.page-header
  %h1= t('dashboard.title')
.row
  .span5
    %h2= t('dashboard.show.login')
    = current_user.login
  .span5.last
    %h2= t('dashboard.show.fullname')
    = current_user.fullname
  .span5
    %h2= t('dashboard.show.expiration_date')
    = t('dashboard.show.expiration_date_msg')
    #counter
  .span5
    %h2= t('change_password.title')
    %a{ :href => "/change_password", :class => 'btn btn-primary' }= t('actions.change_password')
